body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/imgs/fogo_de_fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%; /* Ajustei a porcentagem para melhor visualização */
    gap: 50px;
    
}

.botao {
    padding: 15px 80px;
    min-width: 330px;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}


.botao:hover {
    background-color: #a53021d5;
}

#cartaContainer {
    margin-top: 20px; /* Espaço entre o botão e a imagem */
    margin-left: 5px;
}

img {
    border: 10px white;
    border-style: double ;
    border-radius: 20px;
    max-width: 300px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
}

@media (max-width: 400px) {
    .botao {
        font-size: 1em;
        padding: 10px 20px;
    }
}